.profile__input {
  width: 410px;
  padding: 16px 0;
  margin: 0;
  border: 0;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  text-align: end;
}

.profile__input:disabled {
  background-color: #fff;
}

@media screen and (max-width: 500px) {
  .profile__input {
    width: 260px;
  }
}
