.profile__confirm-btn {
  height: 45px;
  width: 100%;
  border: 0;
  color: #fff;
  background-color: #2BE080;
  border-radius: 3px;
}


.profile__confirm-btn:disabled {
  background-color: #F8F8F8;
}