.search-form__input {
  padding:  0;
  font-weight: 500;
  font-size: 28px;
  line-height: 34px;
  text-align: center;
  color: #A0A0A0;
  border: none;
  width: calc(100% - 154px);
}

@media screen and (max-width: 600px) {
  .search-form__input {
    font-size: 18px;
    line-height: 22px;
    width: calc(100% - 80px);
    text-align: start;
  }
}