.search-form__toggle-container {
  padding: 31px 0 119px 0;
  display: flex;
  justify-content: center;
}

.search-form__switch {
  position: relative;
  border-radius: 20px;

  width: 36px;
  height: 20px;
}

/* Hide default HTML checkbox */
.search-form__switch input {
  width: 0;
  height: 0;
}

/* The slider */
.search-form__slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 20px;
  background-color: #2BE080;
  -webkit-transition: .4s;
  transition: .4s;
}

.search-form__slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 2px;
  bottom: 2px;
  border-radius: 50%;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}


input:checked+.search-form__slider:before {
  transform: translateX(16px);
}

@media screen and (max-width: 768px) {
  .search-form__toggle-container {
    padding: 31px 0 130px 0;
  }
}

@media screen and (max-width: 600px) {
  .search-form__toggle-container {
    padding: 42px 0 91px 0;
  }
}