.about-project__stages {
  margin: 0;
  width: 100%;
  padding: 0 0 110px 0;
  display: grid;
  grid-template-columns: 1fr 4fr;
}

@media screen and (max-width: 768px) {
  .about-project__stages {
    padding: 0 0 89px 0;
  }
}

@media screen and (max-width: 600px) {
  .about-project__stages {
    grid-template-columns: 1fr 2fr;
    padding: 0 0 70px 0;
  }
}