.footer {
  width: calc(100% - 140px);
  background-color: #FAFAFA;
  padding: 77px 70px 20px;
}

@media screen and (max-width: 768px) {
  .footer {
    width: calc(100% - 60px);
    padding: 77px 30px 20px;
  }
}

@media screen and (max-width: 600px) {
  .footer {
    width: calc(100% - 28px);
    background-color: #FFF;
    padding: 30px 14px 10px;
  }
}